@{
  Layout ="shared/_Layout.cshtml";
}
<h1>Add a new student</h1>
<form action="/students/new" method="post">
  <label for="student-name">Student Name</label>
  <input id="student-name" name="student-name" type="text">
  <label for="student-name">Enrollment Date</label>
  <input id="student-enrollment" name="student-enrollment" type="date">
  <button type="submit">Add new student</button>
</form>
<p><a href="/">Back home</a></p>
<p><a href="/tasks">View all students</a></p>
